:root{
  --main-font: AppleGothic;
  --main-green: rgba(0, 177, 59, 0.541);
  --add-btn:rgba(0, 177, 59, 0.527);
  --delete-btn: rgba(224, 32, 32, 0.479);
}
#root, html{
  background-color: rgba(107, 122, 143, 0.164);
}
/* JUMBOTRON */
.jumbotron-fluid{
  background-color: var(--main-green)!important;
}
.container h1,
.container p{
  color: white;
  font-family: var(--main-font);
}
.addBtn,
.deleteBtn{
  background-color: var(--add-btn);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  font-size: 1em;
  border-color: transparent;
  color: white;
}
.deleteBtn{
  background-color: var(--delete-btn);
}
.modalHeader{
  background-color: var(--main-green);
  color: white;
  font-family: var(--main-font);
}
ul li{
  list-style: none;
}
